{% extends 'comunes/base.html' %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <h1 class="bg bg-info">LISTADO DE SOLICITUDES</h1>
    <!--if para preguntar el estatus de la respuesta-->
    <a class="btn btn-primary" href="/solicitudes/nueva"> <span class="glyphicon glyphicon-plus"></span> </a>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>PROYECTO</th>
            <th>OPCION</th>
            <th>ESTATUS</th>
            <th>FECHA DE REGISTRO</th>
            <th>FECHA DE ATENCION</th>
            <th>Ver</th>
        </thead>
        <!--For para recuperar las opciones-->
        {% for solicitud in solicitudes %}
            <tr>
                <td>{{solicitud['id']}}</td>
                <td>{{solicitud['proyecto']}}</td>
                <td>{{solicitud['opcion'].get('nombre')}}</td>
                <td>{{solicitud['estatus']}}</td>
                <td>{{solicitud['fechaRegistro']}}</td>
                <td>{{solicitud['fechaAtencion']}}</td>
                <td><a href="/solicitudes/editar/{{solicitud['id']}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="/principal" class="btn btn-success"> <span class="glyphicon glyphicon-arrow-left"></span> </a>
    {% if get_flashed_messages()%}
            {% for m in get_flashed_messages()%}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{m}}</strong>
            </div>
            {% endfor %}
    {% endif %}
{% endblock %}
